@import url("../assets/css/jquery.jscrollpane.custom.css");
@import url("../assets/css/bookblock.css");
@import url("../assets/css/custom.css");
@import url("../assets/css/icons.css");
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  webkit-font-smoothing: antialiased;
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333333;
  background: url("../assets/img/halftone.png");
  height: 100%;
  /* Headings */
}
body a {
  color: #ae956b;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
body a:hover {
  color: #685940;
  text-decoration: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: .5em;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 300;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  line-height: 1.5em;
  margin-bottom: 0;
}
body h4, body h5, body h6 {
  letter-spacing: 0;
  margin: 0;
}
body p {
  margin-bottom: .5em;
}
body hr {
  border-top: 1px solid #555555;
}
body #header {
  background: #111111;
  width: 100%;
  margin: 0 auto;
  padding: 1em 2em;
  overflow: hidden;
}
body #header h1 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}
body #header h3 {
  text-align: center;
  color: #555555;
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 0;
  margin-top: .5em;
}
body #container {
  padding: 0;
}
body #container img {
  max-width: 100%;
  height: auto;
}
body #container .content {
  background: url("../assets/img/halftone.png");
}
body #container .content ul {
  list-style: none;
  padding-left: 1em;
  text-indent: -1.5em;
  margin-right: .5em;
}
body #container .content ul li {
  margin-bottom: .5em;
}
body #container .content ul li:before {
  content: '\e815';
  font-family: 'icons-binding';
  margin-right: .75em;
}
body #container .content .scroller {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}
body #container .post-wrap {
  overflow: hidden;
}
body #container .post-wrap .entry {
  width: 95%;
  margin: 3.5em auto 3em;
  text-shadow: 1px 1px 1px white;
}
body #container .post-wrap .entry .entry-header {
  margin-bottom: 1em;
  overflow: hidden;
  border-bottom: 1px solid #aaaaaa;
}
body #container .post-wrap .entry .entry-header .entry-title {
  font-size: 2em;
  border-bottom: 3px solid #333333;
  padding-bottom: .25em;
  margin-bottom: .5em;
  line-height: 1.2em;
  text-transform: uppercase;
}
body #container .post-wrap .entry .entry-header .entry-title a {
  color: #333333;
}
body #container .post-wrap .entry .entry-header .entry-title a:hover {
  color: #ae956b;
}
body #container .post-wrap .entry .entry-header .entry-meta {
  font-size: .85em;
  float: left;
  margin-bottom: 1em;
}
body #container .post-wrap .entry .entry-header .entry-meta a {
  color: #333333;
}
body #container .post-wrap .entry .entry-header .entry-meta a:hover {
  color: #ae956b;
}
body #container .post-wrap .entry .entry-header .entry-meta .entry-date {
  margin-right: 1em;
}
body #container .post-wrap .entry .entry-header .share {
  float: right;
}
body #container .post-wrap .entry .entry-content {
  margin-bottom: 1em;
  overflow: hidden;
}
body #container .post-wrap .entry .entry-content img {
  border: 1px solid #333333;
  margin-bottom: 1em;
}
body #container .post-wrap .entry .entry-footer {
  overflow: hidden;
  border-top: 1px solid #aaaaaa;
  padding-top: 1em;
  margin-bottom: 1em;
}
body #container .post-wrap .entry .entry-footer .share {
  text-align: right;
}
body #container #footer {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-size: .85em;
  padding: 1em 1em;
  color: #555555;
  margin-bottom: 2em;
}
body #container #footer h4 {
  font-family: "Raleway", Times, "Times New Roman", serif;
}
body #container #footer a {
  color: #555555;
}
body #container #footer a:hover {
  color: #ae956b;
}
body #container .sidebar-widgets {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  background: #111111;
  padding: 2em 2em 0;
  color: #aaaaaa;
  border-top: 4px solid #ae956b;
  border-bottom: 4px solid #ae956b;
  margin-bottom: 2em;
}
body #container .sidebar-widgets .widget {
  margin-bottom: 2em;
}
body #container .sidebar-widgets .widget h3 {
  border-bottom: 1px solid #ae956b;
  color: #ae956b;
  padding-bottom: .25em;
  margin-bottom: 1em;
  font-size: 1.1em;
  text-transform: uppercase;
}
body #container .sidebar-widgets .widget .social-icon i {
  font-size: 1.25em;
}
body #container .sidebar-widgets .widget .social-icon i:hover {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

@media only screen and (min-width: 769px) {
  body #header {
    padding-bottom: 1em;
  }
  body #header h1 {
    float: left;
    text-align: left;
  }
  body #header h3 {
    float: right;
    text-align: right;
  }
  body #container .content .scroller {
    padding: 0 2.5em;
  }
  body #container .content .scroller .entry {
    float: left;
    width: 66%;
    padding-right: 2em;
    margin-bottom: 0;
  }
  body #container .content .scroller .sidebar-widgets {
    float: right;
    width: 33%;
    margin-top: 2em;
  }
  body #container .content .scroller .sidebar-widgets .widget {
    width: 100%;
    padding-right: 1em;
  }
  body #container .content .scroller #footer {
    padding-left: 0;
  }

  .js .content {
    left: 0;
  }
}
/* ===========================================
Icon Brand Colors
=========================================== */
.color-gplus {
  color: #dd4b39;
}

.color-facebook {
  color: #3b5998;
}

.color-twitter {
  color: #55acee;
}

.color-github {
  color: #aaaaaa;
}

.color-pinterest {
  color: #cc2127;
}

.color-tumblr {
  color: #35465c;
}

.color-dribbble {
  color: #ea4c89;
}

.color-youtube {
  color: #e52d27;
}

.color-digg {
  color: #aaaaaa;
}

.color-stumbleupon {
  color: #eb4924;
}

.color-linkedin {
  color: #0976b4;
}

.color-reddit {
  color: #ff4500;
}

.color-vine {
  color: #00b488;
}

.color-instagram {
  color: #3f729b;
}

.color-delicious {
  color: #3399ff;
}

.color-behance {
  color: #1769ff;
}

.color-mail {
  color: #aaaaaa;
}

.color-mobile {
  color: #aaaaaa;
}

.color-location {
  color: #aaaaaa;
}

.color-gplus:hover {
  color: #842d22;
}

.color-facebook:hover {
  color: #23355b;
}

.color-twitter:hover {
  color: #33678e;
}

.color-github:hover {
  color: #666666;
}

.color-pinterest:hover {
  color: #7a1317;
}

.color-tumblr:hover {
  color: #1f2a37;
}

.color-dribbble:hover {
  color: #8c2d52;
}

.color-youtube:hover {
  color: #891b17;
}

.color-digg:hover {
  color: black;
}

.color-stumbleupon:hover {
  color: #666666;
}

.color-linkedin:hover {
  color: #05466c;
}

.color-reddit:hover {
  color: #992900;
}

.color-vine:hover {
  color: #006c51;
}

.color-instagram:hover {
  color: #25445d;
}

.color-delicious:hover {
  color: #1e5b99;
}

.color-behance:hover {
  color: #0d3f99;
}

.color-mail:hover {
  color: #666666;
}

.color-mobile:hover {
  color: #666666;
}

.color-location:hover {
  color: #666666;
}

.js body {
  overflow: hidden;
}
.js body .content {
  position: absolute;
  top: 0em;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.js body .content:before, .js body .content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 100;
  pointer-events: none;
}
.js body .content:after {
  top: auto;
  bottom: 0;
}

.no-js .bb-custom-wrapper nav span {
  display: none;
}
.no-js .container {
  padding-left: 240px;
}
.no-js .content h2 {
  padding: 40px 1% 20px;
}

.bb-custom-wrapper nav {
  position: absolute;
  z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
  position: absolute;
  width: 1em;
  height: 1.1em;
  line-height: 1em;
  text-align: center;
  speak: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 2em;
  color: #ae956b;
  background: #111111;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.bb-custom-wrapper nav span:hover,
.menu-button:hover {
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  color: #aaaaaa;
}
.bb-custom-wrapper nav span i:before,
.menu-button i:before {
  width: auto;
}

.menu-button {
  font-size: 2em;
  line-height: .75em;
}
.menu-button i {
  font-size: .5em;
}

.menu-panel li {
  border-bottom: 1px solid #221d15;
}
.menu-panel li.menu-toc-current {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #685940), color-stop(100%, #ae956b));
  background-image: -webkit-linear-gradient(left, #685940, #ae956b);
  background-image: -moz-linear-gradient(left, #685940, #ae956b);
  background-image: -o-linear-gradient(left, #685940, #ae956b);
  background-image: linear-gradient(left, #685940, #ae956b);
}
.menu-panel li.menu-toc-current a {
  color: #111111;
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s;
}
.menu-panel li a {
  color: #aaaaaa;
}
.menu-panel li a:hover {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #685940), color-stop(100%, #ae956b));
  background-image: -webkit-linear-gradient(left, #685940, #ae956b);
  background-image: -moz-linear-gradient(left, #685940, #ae956b);
  background-image: -o-linear-gradient(left, #685940, #ae956b);
  background-image: linear-gradient(left, #685940, #ae956b);
  color: #111111;
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s;
}

.content {
  padding-bottom: 5em;
  border-top: 5px solid #ae956b;
}

.slideRight {
  left: 240px;
}

.scroller {
  padding: 10px 3em;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
  width: 100%;
  height: 100%;
}

.bb-item, .bb-bookblock, .bb-content {
  background: #111111;
}

.jspVerticalBar .jspCap {
  height: 0;
}

.jspTrack {
  background: transparent;
  box-shadow: none;
}

.jspDrag {
  background: #333333;
  border-radius: 0;
}

@media screen and (max-width: 800px) {
  .no-js .menu-panel {
    display: none;
  }

  .no-js .container {
    padding: 0;
  }
}
