/* ===========================================
Desktop Rotator Styles for Elemental
=========================================== */

@media only screen and (min-width: 769px) {
	.bx-wrapper .bx-viewport #rotator .slide {
		left:0;

		.caption {
			position: absolute;
			width: auto;
			max-width: 66%;
			padding: .5em 2em;
			text-align: left;
			border: 1px solid $border-color;
			border-left: none;
			-webkit-border-top-right-radius: 3px !important;
			-moz-border-radius-topright: 3px !important;
			border-top-right-radius: 3px !important;
		}
	}
}