/* ===========================================
Desktop Styles for Elemental

Includes Style for Desktop resolutions
=========================================== */

@media only screen and (min-width: 769px) {

	body {

		.entry-footer {

			.tags {
				float: left;
				max-width: 50%;
			}

			.share {
				float: right;
			}
		}


		#footer {
			text-align: left;

			.left{
				float: left;
			}

			.right {
				float: right;
			}
		}
	} /* body */

} /* Media Query */