
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
$primary-font: 'Open Sans', Arial, Helvetica, sans-serif;
$secondary-font: 'Open Sans', Arial, Helvetica, sans-serif;

$red   : #d65d5d;
$blue  : #5d99d6;
$green : #5dd67c;
$orange: #f0a910;

$primary-color  : $blue;
$secondary-color: #000;
$text-color     : #999;
$text-shadow    : #050505;
$sidebar-text-shadow : #050505;
$footer-text    : shade($text_color, 50%);

$primary-bg-color  : #050505;
$secondary-bg-color: #1a1a1a;
$border-color      : #282828;

$border-radius: 3px;

$background: $primary-bg-color url('../assets/img/nitrogen.png');