@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Lora);
$primary-font: 'Lora', Arial, Helvetica, sans-serif;
$secondary-font: 'Dancing Script', Arial, Helvetica, sans-serif;

$red   : #d65d5d;
$blue  : #5d99d6;
$green : #5dd67c;
$orange: #f0a910;

$primary-color  : #764e7a;
$secondary-color: #000;
$text-color     : #555;
$sidebar-text-shadow : #999;
$footer-text    : tint($text_color, 40%);

$primary-bg-color  : #f3e8f4;
$secondary-bg-color: #f3e8f4;
$border-color      : #ecddee;

$border-radius: 1em;

$background: $primary-bg-color url('../assets/img/zirconium.png');