@media only screen and (min-width: 769px) {

body {
		#header {
			h1 {
				float: left;
				text-align: left;
			}
			h3 {
				float: right;
				text-align: right;
			}

		}
		#container {

			.content {

				.scroller {

					.entry {
						float: left;
						width: 66%;
						padding: 0 2em;
						border-right: 1px solid #aaa;
						margin-bottom: 0;
					}

					.footer-widgets {
						float: right;
						width: 33%;
						padding-left: 1em;
						padding-right: 1em;

						.widget {
							width: 100%;
							padding-right: 1em;
						}
					}
				}
			}
		}
	}

	.js .content {
		left: 0;
	}

	.menu-button {
		left: 2em;
	}

}

