@media only screen and (min-width: 769px) {

body {
	font-size: 1.3em;
	line-height: 1.7em;

		#header {
			padding-bottom: 1em;
			h1 {
				float: left;
				text-align: left;
			}
			h3 {
				float: right;
				text-align: right;
			}

		}
		#container {

			.content {

				.scroller {
					padding: 0 2.5em;

					.entry {
						margin-bottom: 0;

						.entry-meta {
							.permalink, .entry-date, .entry-author {
								margin-right: 1em;
								float: left;
							}
						}
					}

					.sidebar-widgets {

						.widget {
							padding-right: 5%;
							width: 35%;
							float: left;

							&:last-child {
								padding-right: 0;
								width: 28%;
							}
						}
					}

					#footer {
						padding-left: 0;
					}
				}
			}
		}
		.bb-custom-wrapper nav span,
		.menu-button {
			padding-top: 0;
		}
	}

	.js .content {
		left: 0;
	}

}
