.js {
	body {
		overflow: hidden;

		.content {
			position: absolute;
			top: 0em;
			left: 0;
			width: 100%;
			bottom: 0;
			overflow: hidden;
			-webkit-font-smoothing: subpixel-antialiased;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 20px;
				z-index: 100;
				pointer-events: none;
			}
			&:after {
				top: auto;
				bottom: 0;
			}
		}
	}
}

.no-js {
	.bb-custom-wrapper nav span {
		display: none;
	}

	.container {
		padding-left: 300px;
	}

	.content h2 {
		padding: 40px 1% 20px;
	}
}

.bb-custom-wrapper nav {
	position: absolute;
	z-index: 1000;
	font-size: 1em;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 1.65em;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	font-size: 1em;
	color: $primary-color;
	background: $primary-bg-color;
	@include border-radius(0);
	padding-top: .25em;

	&:hover {
		@include single-transition(background, 0.3s, linear);
		color: $text-color-inverse;
		background: $primary-bg-color;
	}

	i {
		&:before {
			width: auto;
		}
	}
}

.menu-button {
	line-height: 1.8em;
	i {

	}
}

.menu-panel {
	background: $primary-bg-color;

	li {
		border-bottom: 1px solid $shade80;

		&.menu-toc-current {
			@include background-image(linear-gradient(left, $tab-gradient, $primary-color ));
			a {
				color: $primary-bg-color;
				@include single-transition(none);
			}
		}

		a {
			color: $text-color-inverse;

			&:hover {
				@include background-image(linear-gradient(left, $tab-gradient, $primary-color ));
				color: $primary-bg-color;
				@include single-transition(none);

			}

			h4 {
				margin-bottom: .5em;
				font-size: .8em;
			}

			p {
				font-size: .6em;
				line-height: 1.5em;
			}
		}
	}

}

.content {
	padding-bottom: 5em;
	border-top: 5px solid $primary-color;
}

.slideRight {
	left: 300px;
}

.scroller {
	padding: 10px 3em;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.bb-item, .bb-bookblock, .bb-content {
	background: $primary-bg-color;
}

.menu-panel {
	outline: none;

	.jspVerticalBar {
		display: none;
	}
}

.jspVerticalBar {
	width: 5px;
	.jspCap {
		height: 0;
	}
}

.jspTrack {
	background: transparent;
	box-shadow: none;
}

.jspDrag {
	background: $primary-color;
	border-radius: 0;
	border: none;
	width: 5px;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}


