.js {
	body {
		overflow: hidden;

		.content {
			position: absolute;
			top: 0em;
			left: 0;
			width: 100%;
			bottom: 0;
			overflow: hidden;
			-webkit-font-smoothing: subpixel-antialiased;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 20px;
				z-index: 100;
				pointer-events: none;
			}
			&:after {
				top: auto;
				bottom: 0;
			}
		}
	}
}

.no-js {
	.bb-custom-wrapper nav span {
		display: none;
	}

	.container {
		padding-left: 240px;
	}

	.content h2 {
		padding: 40px 1% 20px;
	}
}

.bb-custom-wrapper nav {
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {

	position: absolute;
	width: 1em;
	height: 1.1em;
	line-height: 1em;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	font-size: 2em;
	color: $primary-color;
	background: $primary-bg-color;

	@include border-radius( 0 );

	&:hover {
		@include single-transition(background, 0.3s, linear);
		color: $text-color-inverse;
	}

	i {
		&:before {
			width: auto;
		}
	}
}

.menu-button {
	font-size: 2em;
	line-height: .75em;
	i {
		font-size: .5em;
	}
}

.menu-panel {
	li {
		border-bottom: 1px solid shade($primary-color, 80%);

		&.menu-toc-current {
			@include background-image(linear-gradient(left, shade($primary-color, 40%), $primary-color ));
			a {
				color: $primary-bg-color;
				@include single-transition(none);
			}
		}

		a {
			color: $text-color-inverse;

			&:hover {
				@include background-image(linear-gradient(left, shade($primary-color, 40%), $primary-color ));
				color: $primary-bg-color;
				@include single-transition(none);

			}
		}
	}

}

.content {
	padding-bottom: 5em;
	border-top: 5px solid $primary-color;
}

.slideRight {
	left: 240px;
}

.scroller {
	padding: 10px 3em;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.bb-item, .bb-bookblock, .bb-content {
	background: $primary-bg-color;
}

.jspVerticalBar .jspCap {
	height: 0;
}

.jspTrack {
	background: transparent;
	box-shadow: none;
}

.jspDrag {
	background: $text-color;
	border-radius: 0;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}


