@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);
@import url(http://fonts.googleapis.com/css?family=Bitter);
$primary-font: 'Gentium Basic', Times, 'Times New Roman', serif;
$secondary-font: 'Bitter', Times, 'Times New Roman', serif;

$background: #fff url( ../assets/img/helium.png );

$gold  : #ae956b;
$red   : #d65d5d;
$blue  : #5d99d6;
$green : #5dd67c;
$orange: #f0a910;
$primary-color: shade($red, 30%);

$text-color  : #333;
$text-color-inverse: #555;
$default-text-shadow-color: #fff;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-h-offset: 1px;

$shade80: tint($primary-color, 80%);
$shade50: tint( $text-color-inverse, 50% );
$tab-gradient: $primary-color;


$border-color: #eee;
$primary-bg-color: #eee;